<div class="container-fluid">

  <button class="btn btn-warning mb-3 float-right text-uppercase" *ngIf="userRoleStatus == 'Admin'" (click)="onAddAssistant()"><i class="fa fa-plus"></i> Add Assistant</button>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover" style="width:100%">
    <thead class="text-center thead-dark">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>email</th>
        <th>Phone</th>
        <th>Doctor</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let assistant of assistants" class="text-center">
        <td>{{assistant.as_user_id}}</td>
        <td>{{assistant.as_fname | uppercase}} {{assistant.as_lname | uppercase}}</td>
        <td>{{assistant.as_username}}</td>
        <td>{{assistant.as_email}}</td>
        <td>{{assistant.as_phone}}</td>
        <td>{{assistant.as_dr_id}}</td>
        <td>
          <div class="btn-group mt-2" role="group">
            <button type="button" class="btn btn-success" (click)="onSelect(assistant)"><i class="fas fa-list"></i></button>
            <button type="button" class="btn btn-primary" *ngIf="userRoleStatus == 'Admin'" (click)="onUpdateModal(assistant)"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger" *ngIf="userRoleStatus == 'Admin'" (click)="onDelete(assistant)"><i class="fas fa-trash-alt"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ADD Assistant MODAL START-->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">ADD NEW ASSISTANT</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="insertForm" (ngSubmit)="onSubmit()">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantFName"><i class="fa fa-pen-square"></i></span>
            </div>
            <input type="text" id="as_fname" formControlName="as_fname" class="form-control" placeholder="first name - Max 100 Characters " aria-label="First Name" aria-describedby="AssistantFName">
          </div>
          <div class="errorMessage" *ngIf="as_fname.touched && as_fname.errors">
            <span *ngIf="as_fname.hasError('required')">Assistant First Name is required.</span>
            <span *ngIf="as_fname.hasError('pattern')">Only characters allowed for Assistant First Name.</span>
            <span *ngIf="as_fname.hasError('maxlength')">Only 100 characters allowed for Assistant First Name.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantMName"><i class="fa fa-pen-square"></i></span>
            </div>
            <input type="text" id="as_mname" formControlName="as_mname" class="form-control" placeholder="midle name - Max 100 Characters " aria-label="Midle Name" aria-describedby="AssistantMName">
          </div>
          <div class="errorMessage" *ngIf="as_mname.touched && as_mname.errors">
            <span *ngIf="as_mname.hasError('required')">Assistant Midle Name is required.</span>
            <span *ngIf="as_mname.hasError('pattern')">Only characters allowed for Assistant Midle Name.</span>
            <span *ngIf="as_mname.hasError('maxlength')">Only 100 characters allowed for Assistant Midle Name.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantLName"><i class="fa fa-pen-square"></i></span>
            </div>
            <input type="text" id="as_lname" formControlName="as_lname" class="form-control" placeholder="last name - Max 100 Characters " aria-label="Last Name" aria-describedby="AssistantLName">
          </div>
          <div class="errorMessage" *ngIf="as_lname.touched && as_lname.errors">
            <span *ngIf="as_lname.hasError('required')">Assistant Last Name is required.</span>
            <span *ngIf="as_lname.hasError('pattern')">Only characters allowed for Assistant Last Name.</span>
            <span *ngIf="as_lname.hasError('maxlength')">Only 100 characters allowed for Assistant Last Name.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantUsername"><i class="fa fa-pen-square"></i></span>
            </div>
            <input type="text" formControlName="as_username" class="form-control" placeholder="Username - Max 50 Characters" aria-label="Username" aria-describedby="AssistantUsername">
          </div>
          <div *ngIf="as_username.touched && as_username.errors" class="errorMessage">
            <span *ngIf="as_username.hasError('required')">UserName is required.</span>
            <span *ngIf="as_username.hasError('maxlength')">Only 50 characters allowed for UserName.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="Password"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" formControlName="as_password" class="form-control" placeholder="Password - Max 100 Characters" aria-label="Password" aria-describedby="Password">
          </div>
          <div *ngIf="as_password.touched && as_password.errors" class="errorMessage">
            <span *ngIf="as_password.hasError('required')">Password is required.</span>
            <span *ngIf="as_password.hasError('maxlength')">Only 50 characters allowed for password.</span>
            <span *ngIf="as_password.hasError('minlength')">Atleast 6 characters needed for password.</span>
            <span *ngIf="as_password.hasError('pattern')">Required 1 uppercase, 1 lowercase, 1 digit, 1 non-alphanumerical.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="ConfirmPassword"><i class="fas fa-lock"></i></span>
            </div>
            <input type="password" formControlName="ConfirmPassword" class="form-control" placeholder="Confirm Password - Max 100 Characters" aria-label="ConfirmPassword" aria-describedby="ConfirmPassword">
          </div>
          <div *ngIf="ConfirmPassword.touched && ConfirmPassword.errors" class="errorMessage">
            <span *ngIf="ConfirmPassword.hasError('required')">Confirm Password is required.</span>
            <span *ngIf="ConfirmPassword.hasError('mustMatch')">Password Must Match.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantEmail"><i class="fa fa-pen-square"></i></span>
            </div>
            <input type="text" formControlName="as_email" class="form-control" placeholder="eg:hadiisaleh@outlook.com - Max 256 Characters" aria-label="Email" aria-describedby="AssistantEmail">
          </div>
          <div *ngIf="as_email.touched && as_email.errors" class="errorMessage">
            <span *ngIf="as_email.hasError('required')">Email is required.</span>
            <span *ngIf="as_email.hasError('email')">Please provide valid email.</span>
            <span *ngIf="_as_email.hasError('maxlength')">Only 256 characters allowed for Email.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantPhone"><i class="fas fa-phone-square"></i></span>
            </div>
            <input type="text" formControlName="as_phone" class="form-control" placeholder="eg:+961 03051763 - Max 100 Characters" aria-label="Phone" aria-describedby="AssistantPhone">
          </div>
          <div *ngIf="as_phone.touched && as_phone.errors" class="errorMessage">
            <span *ngIf="as_phone.hasError('required')">PhoneNumber is required.</span>
            <span *ngIf="as_phone.hasError('pattern')">Please provide valid phone number.</span>
            <span *ngIf="_as_phone.hasError('maxlength')">Only 100 characters allowed for Phone.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="DrId"><i class="fas fa-pen-square"></i></span>
            </div>
            <select formControlName="as_dr_id" class="form-control" placeholder="Doctor" aria-label="Doctor" aria-describedby="DrId">
              <option value="" disabled selected hidden>Please Choose Doctor...</option>
              <option [value]="doctor.dr_id" *ngFor="let doctor of doctors">
                {{doctor.dr_fname}} {{doctor.dr_mname}} {{doctor.dr_lname}}
              </option>
            </select>
          </div>
          <div *ngIf="as_dr_id.touched && as_dr_id.errors" class="errorMessage">
            <span *ngIf="as_dr_id.hasError('required')">Doctor is required.</span>
          </div>
        </li>
        <li class="list-group-item">
          <button [disabled]="insertForm.invalid" class="btn btn-primary btn-block">ADD</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- ADD Assistant MODAL START-->
<!-- EDIT Assistant MODAL START-->

<ng-template #editTemplate>
  <div class="modal-header">
    <h4 class="modal-title">EDIT ASSISTANT DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active text-center text-uppercase">{{modalMessage}}</p>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="Id"><i class="fa fa-pen-square"></i></span>
            </div>
            <input type="text" disabled id="as_user_id" formControlName="as_user_id" class="form-control" placeholder="Id " aria-label="Id" aria-describedby="Id">
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantFName"><i class="fa fa-pen-square"></i></span>
            </div>
            <input type="text" id="as_fname" formControlName="as_fname" class="form-control" placeholder="first name - Max 100 Characters " aria-label="First Name" aria-describedby="AssistantFName">
          </div>
          <div class="errorMessage" *ngIf="as_fname.touched && as_fname.errors">
            <span *ngIf="_as_fname.hasError('required')">Assistant First Name is required.</span>
            <span *ngIf="_as_fname.hasError('pattern')">Only characters allowed for Assistant First Name.</span>
            <span *ngIf="_as_fname.hasError('maxlength')">Only 100 characters allowed for Assistant First Name.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantMName"><i class="fa fa-pen-square"></i></span>
            </div>
            <input type="text" id="as_mname" formControlName="as_mname" class="form-control" placeholder="midle name - Max 100 Characters " aria-label="Midle Name" aria-describedby="AssistantMName">
          </div>
          <div class="errorMessage" *ngIf="as_mname.touched && as_mname.errors">
            <span *ngIf="_as_mname.hasError('required')">Assistant Midle Name is required.</span>
            <span *ngIf="_as_mname.hasError('pattern')">Only characters allowed for Assistant Midle Name.</span>
            <span *ngIf="_as_mname.hasError('maxlength')">Only 100 characters allowed for Assistant Midle Name.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantLName"><i class="fa fa-pen-square"></i></span>
            </div>
            <input type="text" id="as_lname" formControlName="as_lname" class="form-control" placeholder="last name - Max 100 Characters " aria-label="Last Name" aria-describedby="AssistantLName">
          </div>
          <div class="errorMessage" *ngIf="as_lname.touched && as_lname.errors">
            <span *ngIf="_as_lname.hasError('required')">Assistant Last Name is required.</span>
            <span *ngIf="_as_lname.hasError('pattern')">Only characters allowed for Assistant Last Name.</span>
            <span *ngIf="_as_lname.hasError('maxlength')">Only 100 characters allowed for Assistant Last Name.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantUsername"><i class="fa fa-pen-square"></i></span>
            </div>
            <input type="text" formControlName="as_username" class="form-control" placeholder="Username - Max 50 Characters" aria-label="Username" aria-describedby="AssistantUsername">
          </div>
          <div *ngIf="as_username.touched && as_username.errors" class="errorMessage">
            <span *ngIf="_as_username.hasError('required')">UserName is required.</span>
            <span *ngIf="_as_username.hasError('maxlength')">Only 50 characters allowed for UserName.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantEmail"><i class="fa fa-pen-square"></i></span>
            </div>
            <input type="text" formControlName="as_email" class="form-control" placeholder="eg:hadiisaleh@outlook.com - Max 256 Characters" aria-label="Email" aria-describedby="AssistantEmail">
          </div>
          <div *ngIf="as_email.touched && as_email.errors" class="errorMessage">
            <span *ngIf="_as_email.hasError('required')">Email is required.</span>
            <span *ngIf="_as_email.hasError('email')">Please provide valid email.</span>
            <span *ngIf="_as_email.hasError('maxlength')">Only 256 characters allowed for Email.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="AssistantPhone"><i class="fas fa-phone-square"></i></span>
            </div>
            <input type="text" formControlName="as_phone" class="form-control" placeholder="eg:+961 03051763 - Max 100 Characters" aria-label="Phone" aria-describedby="AssistantPhone">
          </div>
          <div *ngIf="as_phone.touched && as_phone.errors" class="errorMessage">
            <span *ngIf="_as_phone.hasError('required')">PhoneNumber is required.</span>
            <span *ngIf="_as_phone.hasError('pattern')">Please provide valid phone number.</span>
            <span *ngIf="_as_phone.hasError('maxlength')">Only 100 characters allowed for Phone.</span>
          </div>
        </li>
        <li class="list-group-item">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="DrId"><i class="fas fa-pen-square"></i></span>
            </div>
            <select formControlName="as_dr_id" class="form-control" placeholder="Doctor" aria-label="Doctor" aria-describedby="DrId">
              <
              <option value="" disabled selected hidden>Please Choose Doctor...</option>
              <option [value]="doctor.dr_id" *ngFor="let doctor of doctors">
                {{doctor.dr_fname}} {{doctor.dr_mname}} {{doctor.dr_lname}}
              </option>
            </select>
          </div>
          <div *ngIf="as_dr_id.touched && as_dr_id.errors" class="errorMessage">
            <span *ngIf="_as_dr_id.hasError('required')">Doctor is required.</span>
          </div>
        </li>
        <li class="list-group-item">
          <button [disabled]="updateForm.invalid" class="btn btn-primary btn-block">UPDATE</button>
        </li>
      </ul>

    </form>

  </div>
</ng-template>

<!-- EDIT Assistant MODAL END-->
<!-- Modal Errors-->
<ng-template #errortemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Assistant</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalErr.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p class="list-group-item active">{{modalError}}</p>
    <ul class="list-group" *ngFor="let erro of errorList">
      <li class="list-group-item">{{erro}}</li>
    </ul>
  </div>
</ng-template>

<!-- End Of Errors-->
